@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&display=swap");

:root {
  --color-primary: #4caf4f;
  --color-secondary: #263238;
  --color-white: #fff;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

.container {
  max-width: 104rem;
  margin: 0 auto;
  padding: 0rem 1.5rem;
}

/* nav */
.nav {
  width: 100%;
  height: 8rem;
  background-color: cadetblue;
}
.nav_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_logo {
  font-size: 2.8rem;
  text-decoration: none;
  color: var(--color-secondary);
  font-weight: 600;
}
.nav_list {
  list-style: none;
  display: flex;
}
.nav_item {
  margin: 0rem 0.7rem;
}
.nav_link {
  text-decoration: none;
  color: var(--color-secondary);
  font-size: 1.5rem;
}
.nav_btn {
  text-decoration: none;
  background-color: var(--color-primary);
  padding: 1rem 1.5rem;
  color: var(--color-white);
  border-radius: 0.6rem;
}
